## Day 019 作業：DataFrame 的排序及顯示

同 Day 017，請載入 2020/4/2 COVID-19 Daily Report 資料集，計算每個國家/區域的累計確診人數。

請依確診案例數，列出截至4月2日為止 (UTC 時間)，確診案例最多的10個國家/區域。

In [1]:
using DataFrames, CSV

In [2]:
df = CSV.read("04-02-2020.csv")

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2     │ Province_State │ Country_Region       │
│      │ Int64⍰  │ String⍰    │ String⍰        │ String               │
├──────┼─────────┼────────────┼────────────────┼──────────────────────┤
│ 1    │ 45001   │ Abbeville  │ South Carolina │ US                   │
│ 2    │ 22001   │ Acadia     │ Louisiana      │ US                   │
│ 3    │ 51001   │ Accomack   │ Virginia       │ US                   │
│ 4    │ 16001   │ Ada        │ Idaho          │ US                   │
│ 5    │ 19001   │ Adair      │ Iowa           │ US                   │
│ 6    │ 29001   │ Adair      │ Missouri       │ US                   │
│ 7    │ 40001   │ Adair      │ Oklahoma       │ US                   │
│ 8    │ 8001    │ Adams      │ Colorado       │ US                   │
│ 9    │ 16003   │ Adams      │ Idaho          │ US                   │
│ 10   │ 17001   │ Adams      │ Illinois       │ US                   │
⋮
│ 2559 │ missing │ missing    │ missing        │ Ukraine              │
│ 2560 │ missing │ missing    │ missing        │ United Arab Emirates │
│ 2561 │ missing │ missing    │ missing        │ United Kingdom       │
│ 2562 │ missing │ missing    │ missing        │ Uruguay              │
│ 2563 │ missing │ missing    │ missing        │ Uzbekistan           │
│ 2564 │ missing │ missing    │ missing        │ Venezuela            │
│ 2565 │ missing │ missing    │ missing        │ Vietnam              │
│ 2566 │ missing │ missing    │ missing        │ West Bank and Gaza   │
│ 2567 │ missing │ missing    │ missing        │ Zambia               │
│ 2568 │ missing │ missing    │ missing        │ Zimbabwe             │
│ 2569 │ missing │ unassigned │ Wyoming        │ US                   │

In [3]:
# 請在此輸入程式碼
df1 =sort(df, :Confirmed, rev=true)

2569×12 DataFrame. Omitted printing of 8 columns
│ Row  │ FIPS    │ Admin2        │ Province_State   │ Country_Region │
│      │ Int64⍰  │ String⍰       │ String⍰          │ String         │
├──────┼─────────┼───────────────┼──────────────────┼────────────────┤
│ 1    │ missing │ missing       │ missing          │ Italy          │
│ 2    │ missing │ missing       │ missing          │ Spain          │
│ 3    │ missing │ missing       │ missing          │ Germany        │
│ 4    │ missing │ missing       │ Hubei            │ China          │
│ 5    │ missing │ missing       │ missing          │ France         │
│ 6    │ 36061   │ New York City │ New York         │ US             │
│ 7    │ missing │ missing       │ missing          │ Iran           │
│ 8    │ missing │ missing       │ missing          │ United Kingdom │
│ 9    │ missing │ missing       │ missing          │ Switzerland    │
│ 10   │ missing │ missing       │ missing          │ Turkey         │
⋮
│ 2559 │ 90036   │ Unassigned    │ New York         │ US             │
│ 2560 │ 90038   │ Unassigned    │ North Dakota     │ US             │
│ 2561 │ 90040   │ Unassigned    │ Oklahoma         │ US             │
│ 2562 │ 90046   │ Unassigned    │ South Dakota     │ US             │
│ 2563 │ 90051   │ Unassigned    │ Virginia         │ US             │
│ 2564 │ 90054   │ Unassigned    │ West Virginia    │ US             │
│ 2565 │ 90055   │ Unassigned    │ Wisconsin        │ US             │
│ 2566 │ missing │ missing       │ Diamond Princess │ Canada         │
│ 2567 │ missing │ missing       │ Recovered        │ Canada         │
│ 2568 │ missing │ missing       │ Recovered        │ US             │
│ 2569 │ missing │ unassigned    │ Wyoming          │ US             │

In [9]:
df2=df1[:,[:Country_Region, :Confirmed]]
first(df2,10)

10×2 DataFrame
│ Row │ Country_Region │ Confirmed │
│     │ String         │ Int64     │
├─────┼────────────────┼───────────┤
│ 1   │ Italy          │ 115242    │
│ 2   │ Spain          │ 112065    │
│ 3   │ Germany        │ 84794     │
│ 4   │ China          │ 67802     │
│ 5   │ France         │ 59105     │
│ 6   │ US             │ 51809     │
│ 7   │ Iran           │ 50468     │
│ 8   │ United Kingdom │ 33718     │
│ 9   │ Switzerland    │ 18827     │
│ 10  │ Turkey         │ 18135     │